<script setup>
</script>

<template>
<footer>
  <div class="p-3 p-lg-5">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        Taekwon-Do school Joong-Gun, Zwolle<br />
        Facebook: <a href="https://www.facebook.com/JoongGunZwolle" target="_blank">JoongGunZwolle</a><br />
        Email: <a href="mailto:joongguntkd@gmail.com">joongguntkd@gmail.com</a>
      </div>
      <div class="col-sm-6 col-md-4 mt-3 mt-sm-0">
        Links op de site:<br />
        <a href="../taekwon-do/">Taekwon-Do</a><br />
        <a href="../over-ons/">Over Ons</a><br />
        <a href="../nieuws/">Nieuws</a><br />
        <a href="../contact.html">Contact</a><br />
      </div>
      <div class="col-sm-6 col-md-4">
        <img src="/over-ons/itf_official_logo_small.png" class="m-3"
             alt="international taekwondo federation logo" />
      </div>
    </div>
  </div>
</footer>
</template>

<style scoped>
footer {
  margin-top: 1rem;
  background-color: #222;
  color: #ccc;
}

a {
  color: white !important;
}
</style>
