<script setup>

import Navigation from "./Navigation.vue";
import {useData, withBase} from "vitepress";

const { frontmatter } = useData()
</script>

<template>
<header>
  <div class="d-block d-md-none">
    <img src="/assets/lana-yop-mobile.jpg" class="less-opacity w-100"
         alt="de zaal zit vol, tijdens de itf headquarters dag" />
  </div>
  <div class="d-none d-md-block">
    <img src="/assets/lana-yop-desktop.jpg" class="less-opacity w-100"
         alt="de zaal zit vol, tijdens de itf headquarters dag" />
  </div>
  <div class="d-block d-xl-none"><img src="/assets/swirl2.svg" class="blauwe-boog" alt="" /></div>
  <div class="d-none d-xl-block"><img src="/assets/swirl.svg" class="blauwe-boog" alt="" /></div>
  <a :href="withBase('/')">
    <img src="/assets/joong-gun-logo.png" alt="Joong-Gun logo" class="logo" />
    <span class="sr-only">terug naar home</span>
  </a>
  <div class="header-right">
    <Navigation></Navigation>
  </div>

  <div class="d-block d-sm-none w-100" v-if="frontmatter.home">
    <div class="row">
      <div class="col-6 steekwoord bg-dark text-center">Respect</div>
      <div class="col-6 steekwoord bg-blue text-center">Vriendschap</div>
      <div class="col-6 steekwoord bg-blue text-center">Weerbaarheid</div>
      <div class="col-6 steekwoord bg-dark text-center">Zelfvertrouwen</div>
    </div>
  </div>
  <div class="d-none d-sm-block steekwoord-wrapper" v-if="frontmatter.home">
    <div class="steekwoord bg-dark">Respect</div>
    <div class="steekwoord bg-blue">Vriendschap</div>
    <div class="steekwoord bg-dark">Weerbaarheid</div>
    <div class="steekwoord bg-blue">Zelfvertrouwen</div>
  </div>
</header>
</template>

<style scoped>

header {
  max-width: var(--vp-screen-max-width);
  position: relative;
}

@media (min-width: 576px) {
  header {
    margin: 0 auto;
  }
}

.header-right {
  position: absolute;
  right: 0;
  top: 0;
}

.steekwoord-wrapper {
  position: absolute;
  right: .5rem;
  bottom: -48px;
  @media (min-width: 400px) {
    bottom: 0;
  }
}

.steekwoord {
  font-size: .75rem;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 400px) {
  .steekwoord {
    font-size: 1rem;
  }
}

@media (min-width: 576px) {
  .steekwoord {
    width: auto;
    line-height: 1.5rem;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: .5rem;
    margin-bottom: .5rem;
  }
}

.logo {
  position: absolute;
  left: 1rem;
  top: 1rem;
  z-index: 1;
}

@media (min-width: 768px) {
  .logo {
    top: 0;
  }
}

.less-opacity {
  opacity: .5;
}

.blauwe-boog {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.bg-dark {
  background-color: black;
}

.bg-blue {
  background-color: #003354;
}
</style>
