<script setup lang="ts">
import {useData, useRoute, withBase} from 'vitepress'
import Header from "./Header.vue";
import Sidebar from "./Sidebar.vue";
import Carousel from './components/Carousel.vue';
import Footer from './Footer.vue';
import ReviewCarousel from "./components/ReviewCarousel.vue";
import NewsLayout from "./components/NewsLayout.vue";

// https://vitepress.dev/reference/runtime-api#usedata
const { frontmatter, page } = useData()
</script>

<template>
  <Header></Header>
  <Sidebar></Sidebar>
  <main class="p-3">
    <div class="row" v-if="frontmatter.home">
      <div class="col-lg-7">
        <Content />
      </div>
      <div class="col-lg-5 p-4 bg-dark">
        <review-carousel/>
        <br />
        <Carousel />
      </div>
    </div>
    <div v-else-if="page.filePath.startsWith('nieuws/') && page.filePath != 'nieuws/index.md'">
      <NewsLayout />
    </div>
    <div v-else>
      <Content />
    </div>
  </main>
  <Footer></Footer>
</template>

<style scoped>
main {
  max-width: var(--vp-screen-max-width);
  margin: 0 auto;
}

@media (min-width: 576px){
  padding: .5rem 0;
}
</style>
