<script setup>

import {withBase} from "vitepress";
</script>

<template>
  <div class="d-flex flex-row">
    <nav>
      <a :href="withBase('/taekwon-do/')">Taekwon-Do</a>
      <a :href="withBase('/over-ons/')">Over ons</a>
      <a :href="withBase('/nieuws/')">Nieuws</a>
      <a :href="withBase('/contact.html')">Contact</a>
    </nav>
  </div>

</template>

<style scoped>
  nav {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    width: 8rem;
  }
  nav a {
    list-style-type: none;
    margin: 0;
    text-decoration: none;
    color: #003354;
    display: block;
    padding: .5em;
    font-weight: bold;
    background-color: #DDE5EB;
    border-left: 3px solid #003354;
    border-bottom: 3px solid #003354;
    border-right: 3px solid transparent;
    border-top: 3px solid transparent;
    border-top-left-radius: 1rem;
  }
  nav a:visited {
    text-decoration: none
  }

  nav a:hover, nav a:focus {
    background-color: #003354;
    color: white;
    font-style: normal;
  }

  @media (min-width: 400px) {
    nav a {
      margin: 0 0 .5rem;
    }
  }

  /* navbar desktop */
  @media (min-width: 768px) {
    nav {
      right: 0;
      width: 33rem;
      flex-direction: initial;
    }
    nav a {
      padding: .75rem;
      margin: 0 .5rem 0;
      color: white;
      background-color: transparent;
      border: 3px solid transparent;
    }

    nav a:hover, nav a:focus {
      background-color: transparent;
      border-bottom: 4px solid white;
      border-right: 3px solid transparent;
      border-top: 2px solid transparent;
      color: white;
    }
  }

  img {
    margin: .5rem;
  }

</style>
