<script setup>
  import {useSidebar} from "vitepress/theme"
  import {withBase} from "vitepress";
  const { sidebarGroups, hasSidebar } = useSidebar()
</script>

<template>
<aside v-if="hasSidebar" style="max-width: 1376px;margin-right: auto;margin-left: auto; clear: both;">
  <nav>
    <div v-for="item in sidebarGroups" :key="item.text" class="sidebar-items">
      <a v-for="item in item.items" :key="item.text" :href="withBase(item.link)" class="sidebar-item">{{item.text}}</a>
    </div>
  </nav>
</aside>
</template>

<style scoped>
.sidebar-item {
  display: inline-block;
  width: 50%;
  color: black;
  padding: .625rem;
}

.sidebar-item:hover,
.sidebar-item:focus{
  background-color: #003354;
  color: white;
  font-style: normal;
}

@media (min-width: 768px) {
  .sidebar-item {
    border-left: 1px solid black;
    width: 33%;
  }
}

@media (min-width: 992px) {
  .sidebar-item {
    width: 14%;
    padding: .625rem 1.2rem;
  }
}
</style>
