:root {
  --vp-screen-max-width: 1376px;
  --text-color: #00001E
}

html,
body {
  color: var(--text-color);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background-color: #DDE5EB;
}

blockquote, figure, p, pre {
  margin-block-start: 1em; margin-block-end: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fira Sans Semibold", sans-serif;
  font-weight: normal;
}

h1 { margin-block-start: 0.67em; margin-block-end: 0.67em; font-size: 2.00em; font-weight: bold; line-height: 1em;}
h2 { margin-block-start: 0.83em; margin-block-end: 0.83em; font-size: 1.50em; font-weight: bold; }
h3 { margin-block-start: 1.00em; margin-block-end: 1.00em; font-size: 1.17em; font-weight: bold; }
h4 { margin-block-start: 1.33em; margin-block-end: 1.33em; font-size: 1.00em; font-weight: bold; }
h5 { margin-block-start: 1.67em; margin-block-end: 1.67em; font-size: 0.83em; font-weight: bold; }
h6 { margin-block-start: 2.33em; margin-block-end: 2.33em; font-size: 0.67em; font-weight: bold; }

main {
  padding: .25rem;
}

/*overwrite default*/
p {
 margin-block-start: 0;
}

a.btn {
  padding-top: .5625rem;
  padding-bottom: .5625rem;
}

.sr-only {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0,0,0,0);
border: 0;
}

.left-50 {
float: left;
margin-right: 1rem;
}

.right-50 {
float: right;
margin-left: 1rem;
}

.left-50,
.right-50 {
width: 100%;
margin-bottom: 1rem;
}

@media (min-width: 576px){
.right-50,
.left-50 {
min-width: 300px;
width: 20%;
}
}

.text-50 {
margin-block-start: 0;
width: 100%;
}

@media (min-width: 768px){
.text-50 {
float: left;
width: 75%;
}
}

@media (min-width: 992px){
.text-50 {
float: left;
width: 50%;
}
}

ol {
margin: 0;
padding: 0 2rem;
list-style: decimal;
}

.bordered {
border: 1px solid #3979c6ff;
}

.row .home-image-1-wrapper,
.row .home-image-2-wrapper,
.row .home-image-3-wrapper {
flex: 0 0 auto;
width: 50%;
display: flex;
align-items: center;
padding-right: calc(var(--bs-gutter-x) / 2);
padding-left: calc(var(--bs-gutter-x) / 2);
margin-top: 1rem;
}

@media (min-width: 576px){
.row .home-image-1-wrapper {
width: 25%;
}
.row .home-image-2-wrapper {
width: 30%;
}
.row .home-image-3-wrapper {
width: 35%;
}

.h1-wrapper {
margin-bottom: -2rem;
}
}

.black-border {
display: inline-block;
border: 2px solid black;
border-radius: 50%;
padding: 2px 2px 8px;
}

.blue-border {
display: inline-block;
border: 3px solid #003354;
border-radius: 50%;
margin-bottom: -6px;
}

.unstyled-link {
  text-decoration: none;
  color: var(--text-color);
}

.unstyled-link:hover {
  text-decoration: underline;
  color: var(--text-color);
}

.mt-3 { margin-top: 1rem; }
.mr-3 { margin-right: 1rem; }
.mb-3 { margin-bottom: 1rem; }
.ml-3 { margin-left: 1rem; }
