<template>

  <h1>Automatische tulprikker</h1>
  <p>Selecteer het interval, de huidige gup/dan en klik <span class="text-nowrap">[ Sijak ].</span> Je krijgt elk gekozen
    aantal seconden een willekeurige tul die je moet leren.</p>

  <select id="timeoutOptions" @change="setIntervalTime" class="form-select mb-3">
    <option disabled selected>kies interval</option>
    <option value="2">2 sec</option>
    <option value="4">4 sec</option>
    <option value="6">6 sec</option>
    <option value="8">8 sec</option>
    <option value="10">10 sec</option>
    <option value="15">15 sec</option>
    <option value="20">20 sec</option>
  </select>

  <select id="selectGrade" @change="reset" class="form-select mb-3">
    <option disabled selected>kies huidige graad</option>
    <option value="10 gup, wit">10 gup, wit</option>
    <option value="9 gup, wit-geel">9 gup, wit-geel</option>
    <option value="8 gup, geel">8 gup, geel</option>
    <option value="7 gup, geel-groen">7 gup, geel-groen</option>
    <option value="6 gup, groen">6 gup, groen</option>
    <option value="5 gup, groen-blauw">5 gup, groen-blauw</option>
    <option value="4 gup, blauw">4 gup, blauw</option>
    <option value="3 gup, blauw-rood">3 gup, blauw-rood</option>
    <option value="2 gup, rood">2 gup, rood</option>
    <option value="1 gup, rood-zwart">1 gup, rood-zwart</option>
    <option value="1 dan">1 dan</option>
    <option value="2 dan">2 dan</option>
    <option value="3 dan">3 dan</option>
    <option value="4 dan">4 dan</option>
    <option value="5 dan">5 dan</option>
    <option value="6 dan">6 dan</option>
  </select>

  <button id="sijakBtn" @click="startApp" class="btn btn-tulpicker">Sijak</button>
  <button id="baroBtn" @click="reset" class="btn btn-tulpicker">Baro</button>
  <span id="tulName" class="mb-3">&nbsp;</span>

</template>

<script>
let howMany = [2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 15, 18, 21, 24, 26, 27];
let tulNames = ["Saju Makgi", "Saju Jirugi", "Chon-Ji", "Dan-Gun", "Do-San", "Won-Hyo", "Yul-Gok", "Joong-Gun", "Toi-Gye", "Saju Tulgi", "Hwa-Rang", "Choong-Moo", "Kwang-Gae", "Po-Eun", "Ge-Baek", "Eui-Am", "Choong-Jang", "Kodang/Juche", "Sam-Il", "Yoo-Sin", "Choi-Yong", "Yon-Gae", "Ul-Ji", "Moon-Moo", "So-San", "Se-Jong", "Tong-Il"];
let sijakBtnClicked = false;
let lastTul = 0;
let intervalTime = 2000;
let interval;
let maxAmountOfHits = 100;

export default {
  methods: {

    startApp() {
      this.reset();
      this.selectTul(); // first hit
      this.interval = setInterval(this.selectTul, intervalTime);
      setTimeout(function() {
        clearInterval(this.interval)
      }, 5000);
      document.getElementById("sijakBtn").disabled = true;
    },

    selectTul() {
      if (maxAmountOfHits > 0){
        let selectGradesElement = document.getElementById("selectGrade");
        let indexUser = selectGradesElement.options[selectGradesElement.selectedIndex].index;
        let selectedHowMany = howMany[indexUser - 1];
        let indexTulArray = Math.floor(Math.random() * selectedHowMany);

        // prevent double outcome
        if (sijakBtnClicked && indexTulArray === lastTul) {
          this.selectTul();
        } else {
          document.getElementById("tulName").innerHTML = tulNames[indexTulArray];
          lastTul = indexTulArray;
          sijakBtnClicked = true;
          maxAmountOfHits--
        }
      }
    },

    setIntervalTime() {
      let result = Number(document.getElementById("timeoutOptions").value * 1000);
      if(typeof result==='number' && (result%1)===0) {
        intervalTime = result;
      } else {
        intervalTime = 8000;
      }
      this.reset();
    },

    reset() {
      document.getElementById("tulName").innerHTML = "&nbsp;";
      document.getElementById("sijakBtn").disabled = false;
      maxAmountOfHits = 100;
      clearTimeout(this.interval);
    },
  }
}
</script>

<style scoped>
select {
  width: 100%;
}
option {
  width: 100%;
  padding-left: 2rem;
}
.form-select {
  border: 1px solid #003354;
}
.btn-tulpicker {
  border: 1px solid #003354;
  padding: .5rem;
  margin-right: .5rem;
}
#timeoutOptions {
  display: inline-block;
  width: 9.5rem;
  margin-right: .5rem;
}
#selectGrade {
  display: inline-block;
  background-color: #fff;
  width: calc(100% - 10rem);
}
#sijakBtn {
  width: 6rem;
  margin-bottom: 1rem;
}
#baroBtn {
  width: 3rem;
  margin-bottom: 1rem;
}
#tulName {
  display: inline-block;
  border: 1px solid #003354;
  width: 100%;
  font-size: 3rem;
  padding: .5rem .5rem .5rem 1.5rem;
  border-radius: 0.25rem;
}
@media (min-width: 567px) {
  #sijakBtn {
    margin-bottom: -1rem;
  }
  #baroBtn {
    margin-bottom: -1rem;
  }
  #tulName {
    width: calc(100% - 10rem);
  }
}
</style>
