<script setup lang="ts">
import { ref, onMounted, onUpdated } from 'vue'

  if (!import.meta.env.SSR) {
    import('bootstrap').then((bootstrap) => {
      const { Carousel: Carousel } = bootstrap;
      new Carousel(document.getElementById('carousel'))
    })
  }
</script>

<template>
  <div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/fotos/header-open-kwan.jpg" alt="...">
      </div>
      <div class="carousel-item active">
        <a href="/nieuws/2024/itf-dag-05-2024.html">
          <img src="/nieuws/2024/itf-hq-dag-05-2024-banner.jpg" alt="ITF HQ NL dag mei 2024">
        </a>
      </div>
      <div class="carousel-item">
        <a href="/nieuws/2023/flyer.html">
          <img src="/fotos/download-de-flyer.jpg" alt="download de flyer">
        </a>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</template>

<style scoped>

@import "~bootstrap/dist/css/bootstrap.min.css";

/*main {
  max-width: var(--vp-screen-max-width);
  margin: 0 auto;
}*/
</style>


