<template>
  <button class="btn btn-link"  @click="toggle()">Toon route</button>

  <div class="d-none" id="modal">
    <div class="dialog">
      <button id="btn-closemodal" @click="toggle()">
        sluit venster
      </button>
      <p class="mt-3">Route Greijdanus</p>
      <img src="/assets/greijdanus-route.jpg" alt="route naar de sportzaal op de Greijdanus campus">
    </div>
  </div>

</template>

<script>
export default {
  methods: {
    toggle() {
      document.getElementById("modal").classList.toggle('d-none');
    },
  }
}
</script>

<style scoped>
#modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .66);
  overflow-x: hidden;
  overflow-y: auto;
}

#modal .dialog {
  position: relative;
  width: 95%;
  margin: 2rem auto;
  padding: .5rem;
  border-radius: 5px;
  pointer-events: none;
  z-index: 1051;
}

@media (min-width: 576px) {
  #modal .dialog {
    width: 75%;
  }
}

@media (min-width: 768px) {
  #modal .dialog {
    width: 60%;
  }
}

#btn-closemodal {
  float: right;
  margin-top: -.5rem;
  margin-right: -.5rem;
  padding: .5rem;
  height: 44px;
  z-index: 1082;
  pointer-events: all;
}
#btn-closemodal:hover {
  cursor: pointer;
}
#modal .dialog { background: white;}
</style>
