<script setup>

import {useData, withBase} from "vitepress";
const { frontmatter } = useData()
const hasImages = (f) => f.images && Object.keys(f.images).length > 0

</script>
<template>
  <p>
    <a :href="withBase('/nieuws/')" class="unstyled-link">« Terug naar nieuws</a>
  </p>
  <div class="row">
    <div v-for="(title, path) in frontmatter.images" :key="path" class="news-image col-sm-6 col-lg-4 mb-3">
      <img :src="withBase(path)" :alt="title" :title="title"  />
    </div>
    <Content class="news-content col-sm-6 col-lg-8 " />

  </div>
</template>

<style scoped>
.news-image {
  flex: 1 auto;
}

.news-content {
  order: 2;
  flex: 1 auto;
}
.news-image { order: 3; }
.news-image:first-child { order: 1; }
</style>
