<script setup>
import NewsCard from "./NewsCard.vue";
import { data as articles } from '../data/news.data.ts'
</script>
<template>

    <NewsCard v-for="article in articles"
              :title="article.title" :author="article.author" :href="article.url"
              :date="article.date.string" :image="article.image"
              :excerpt="article.excerpt"/>
</template>
