<script setup>
import {withBase} from 'vitepress';
import {toLocaleDate} from "../helper.ts";

</script>

<template>
  <a :href="withBase(href)">
    <div class="card">
      <div class="row">
        <div class="col-md-6 col-lg-5 col-xl-4">
          <img :src="withBase(image)" :alt="title" />
        </div>
        <div class="col-md-6 col-lg-7 col-xl-8 details">
          <h2 class="title">{{ title }}</h2>
          <p>{{ excerpt }}</p>
          <div class="author">
            <p class="date">{{ date }}</p>
          </div>
        </div>
      </div>
    </div>
  </a>

</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    excerpt: {
      type: String,
      required: true,
    },

    image: {
      type: String,
      required: true,
    },
    author: {
      type: String,
      required: true,
    },
    date: {
      type: String,
      required: true,
    },
    href: {
      type: String,
      required: true,
    },
  },
  methods: {
    truncateText(text, length) {
      if (text.length > length) {
        return text.substring(0, length) + "...";
      }
      return text;
    },
  },
};
</script>
<style scoped>
a {
  color: var(--text-color);
  text-decoration: none;
}

.card {
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin-bottom: 1.5rem;
  overflow: hidden;
  width: 100%;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transition: ease-in-out 0.5s all;
}

.details {
  padding-right: calc(var(--bs-gutter-x));
  padding-left: calc(var(--bs-gutter-x));
}

.title {
  margin: 1rem 0;
}
</style>
