<template>
  <div id="review-carousel" class="carousel slide carousel-container" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item review-carousel-item active">
        ⭐⭐⭐⭐⭐ <br>
        Ontzettend fijne en laagdrempelige school. Leuke mensen, goede en bekwame instructeurs. Gewoon top! Taekwon!
      </div>
      <div class="carousel-item review-carousel-item">
        <div class="carousel-item-text">
          ⭐⭐⭐⭐⭐ <br>
          The place to be!! ITF Taekwon-Do voor jong en oud bij de leukste school van Zwolle.
        </div>
      </div>
      <div class="carousel-item review-carousel-item">
        ⭐⭐⭐⭐⭐ <br>
        Mijn zoon van 11 traint al een aantal jaar met veel plezier bij deze school. Het voelt voor hem als een grote
        familie. Hij leert zelfverdediging, respect, maar ook zelfvertrouwen. Zeker aanbevolen voor jong en oud,
        beginner of gevorderde.
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#review-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon button" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#review-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon button" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</template>

<script setup lang="ts">
import { onMounted } from 'vue';
import { Carousel } from 'bootstrap';

onMounted(async () => {
  if (!import.meta.env.SSR) {
    const { Carousel } = await import('bootstrap');

    if (typeof document !== 'undefined') {
      const reviewCarousel = new Carousel(document.getElementById('review-carousel'), {
        interval: 5000,
      });
    }
  }
});
</script>

<style scoped>
@import "~bootstrap/dist/css/bootstrap.min.css";

.button {
  background-color: black;
  border-radius: 100%;
  opacity: 0.1;
}
.carousel-container {
  background-color: white;
  border-radius: 7px;
  padding: 15px;
  min-height: 150px;
}
</style>
