<template>

  <h1>Unieke tulprikker</h1>
  <p>Selecteer de huidige gup/dan en klik
    <span class="text-nowrap">[ Sijak ].</span> Je krijgt een willekeurige tul die je moet leren. Je krijgt elke tul
  één keer per serie.</p>

  <select id="selectGrade" @change="selectGrade()" class="form-select mb-3">
    <option disabled selected>kies huidige graad</option>
    <option value="10 gup, wit">10 gup, wit</option>
    <option value="9 gup, wit-geel">9 gup, wit-geel</option>
    <option value="8 gup, geel">8 gup, geel</option>
    <option value="7 gup, geel-groen">7 gup, geel-groen</option>
    <option value="6 gup, groen">6 gup, groen</option>
    <option value="5 gup, groen-blauw">5 gup, groen-blauw</option>
    <option value="4 gup, blauw">4 gup, blauw</option>
    <option value="3 gup, blauw-rood">3 gup, blauw-rood</option>
    <option value="2 gup, rood">2 gup, rood</option>
    <option value="1 gup, rood-zwart">1 gup, rood-zwart</option>
    <option value="1 dan">1 dan</option>
    <option value="2 dan">2 dan</option>
    <option value="3 dan">3 dan</option>
    <option value="4 dan">4 dan</option>
    <option value="5 dan">5 dan</option>
    <option value="6 dan">6 dan</option>
  </select>
  <button id="sijakBtn" @click="selectTul()" class="btn btn-tulpicker" disabled="disabled">Sijak</button>
  <button id="baroBtn" @click="reset()" class="btn btn-tulpicker">Baro</button>
  <span id="tulName">&nbsp;</span>
</template>

<script>
// ITF
let howMany =    [2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 15, 18, 21, 24, 26, 27];
let tulNames = ["Saju Makgi", "Saju Jirugi", "Chon-Ji", "Dan-Gun", "Do-San", "Won-Hyo", "Yul-Gok", "Joong-Gun", "Toi-Gye", "Saju Tulgi", "Hwa-Rang", "Choong-Moo", "Kwang-Gae", "Po-Eun", "Ge-Baek", "Eui-Am", "Choong-Jang", "Kodang/Juche", "Sam-Il", "Yoo-Sin", "Choi-Yong", "Yon-Gae", "Ul-Ji", "Moon-Moo", "So-San", "Se-Jong", "Tong-Il"];

// after select grade
let selectedHowMany = 0;
let selectedTulNames = [];

// after hit
let hitCounter = 0;
let sijakBtnClicked = false;
let lastTul = "";

export default {
  methods: {

    selectTul() {
      sijakBtnClicked = true;
      hitCounter++;

      if (selectedTulNames.length === 0) {
        this.selectGrade()
      }

      let hit = Math.floor(Math.random() * (selectedHowMany - hitCounter));
      if (hit < 0) hit = 0;
      if (sijakBtnClicked && selectedTulNames[hit] === lastTul) {
        this.selectTul();
      } else {
        lastTul = selectedTulNames[hit];
        document.getElementById("tulName").innerHTML = selectedTulNames[hit];
        selectedTulNames.splice(hit, 1)
      }
    },

    selectGrade() {
      selectedTulNames = [];
      hitCounter = 0;
      document.getElementById("tulName").innerHTML = "&nbsp;";
      document.getElementById("sijakBtn").innerHTML = "Sijak";
      document.getElementById("sijakBtn").disabled = false;

      let selectGradesElement = document.getElementById("selectGrade");
      let indexUser = selectGradesElement.options[selectGradesElement.selectedIndex].index;
      selectedHowMany = howMany[indexUser - 1] ;

      for (let i = 0; i < selectedHowMany; i++) {
        selectedTulNames.push(tulNames[i])
      }

      document.getElementById("sijakBtn").innerHTML = "Sijak";
      document.getElementById("sijakBtn").disabled = false;
    },

    reset() {
      selectedTulNames = [];
      hitCounter = 0;
      document.getElementById("tulName").innerHTML = "&nbsp;";
      document.getElementById("sijakBtn").innerHTML = "Sijak";
      document.getElementById("sijakBtn").disabled = false;
    },
  }
}
</script>

<style scoped>
select {
  width: 100%;
  height: 2.75rem;
}
option {
  width: 100%;
  padding-left: 2rem;
}
.form-select {
  border: 1px solid #003354;
}
.btn-tulpicker {
  border: 1px solid #003354;
  padding: .5rem;
  height: 2.75rem;
}
#tulName {
  display: inline-block;
  border: 1px solid #003354;
  width: 100%;
  font-size: 3rem;
  padding: .5rem .5rem .5rem 1.5rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}
#selectGrade {
  background-color: #fff;
}
#sijakBtn {
  display: inline-block;
  width: 6rem;
  margin-bottom: 1rem;
  margin-right: .5rem;
}
#baroBtn {
  display: inline-block;
  width: 3rem;
  margin-bottom: 1rem;
}

@media (min-width: 576px) {
  select {
    display: inline-block;
    width: calc(100% - 10rem);
    margin-right: .5rem;
  }

  #sijakBtn {
    margin-bottom: .3rem;
  }
  #baroBtn {
    margin-bottom: .3rem;
  }
}

</style>
